// Overide the design of react-big-calendar
.rbc-calendar {
  .rbc-month-view {
    .rbc-month-row {
      .rbc-row-bg {
        .rbc-today {
          background-color: inherit;
        }
      }
      .rbc-row-content {
        .rbc-row {
          .rbc-now.rbc-current > button {
            background-color: blue;
            color: white;
            border-radius: 10px;
            padding: 2px;
            font-size: 14px;
            height: 25px;
            width: 25px;
          }
        }
      }
    }
  }
}
